In [1]:
import pandas as pd

In [4]:
df1 = pd.read_csv('combined_data_clean.csv', encoding='latin1')
df2 = pd.read_csv('UpdatedResumeDataSet.csv')

In [8]:
import re
import nltk
from bs4 import BeautifulSoup

def cleanResume2(html_data):
    # Remove HTML tags
    soup = BeautifulSoup(html_data)
    text = soup.get_text()

    # Remove unwanted characters
    text = re.sub(r'[^\w\s]', '', text)

    # Normalize text
    text = text.lower()
    text = nltk.PorterStemmer().stem(text)

    # Remove stop words
    stopwords = nltk.corpus.stopwords.words('english')
    text = ' '.join([word for word in text.split() if word not in stopwords])

    # Remove punctuation
    text = re.sub(r'[^\w\s]', '', text)

    # Handling contractions
    text = nltk.word_tokenize(text)
    text = [nltk.WordNetLemmatizer().lemmatize(word) for word in text]
    text = ' '.join(text)

    # Removing Non−Textual Elements
    text = re.sub(r'\[[^\]]+\]', '', text)
    return text

In [9]:
df2['resume'] = df2['resume'].apply(cleanResume2)

In [11]:


# Combine the DataFrames
combined_df = pd.concat([df1, df2], ignore_index=True)

# Save the combined DataFrame to a new CSV file
combined_df.to_csv("final_resume_dataset.csv", index=False)

In [12]:
combined_df

,category,resume
0,Database_Administrator,database administrator database administrator ...
1,Database_Administrator,database administrator database administrator ...
2,Database_Administrator,oracle database administrator oracle database ...
3,Database_Administrator,amazon redshift administrator etl developer bu...
4,Database_Administrator,scrum master scrum master scrum master richmon...
...,...,...
15848,Testing,computer skill â proficient m office word basi...
15849,Testing,â willingness accept challenge â positive thin...
15850,Testing,personal skill â quick learner â eagerness lea...
15851,Testing,computer skill software knowledge mspower poin...
15852,Testing,skill set o window xp788110 database mysql sql...